.hello.link {
  color: orange;
}

.hello.hover {
  color: darkgreen;
  font-family: arial;
  font-size: 30px;
}

.hello:active {
  font-style: italic;
}

.hello:visited {
  color: darkred;
}

li:nth-child(odd) a {
  color: green;
}

li:nth-child(odd) a:hover {
  color: red;
}

p:first-of-type {
  color: green;
}