<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coba Float 1</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <img src="logo.jpg" alt="logo">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla quo expedita libero quae nostrum minus aliquam fugit facilis, soluta saepe similique, quis vitae natus voluptas? Quos quaerat iure reprehenderit praesentium aperiam, esse amet quam ut facilis sit cupiditate aliquid, labore explicabo odit soluta deleniti et modi, eligendi a eos. Sunt sint perspiciatis laborum recusandae repudiandae, atque corporis maiores sapiente expedita illum asperiores consectetur temporibus est nesciunt quaerat deleniti nisi ullam. Dolor, dicta ab. At aliquam dolor ut neque minus facilis consectetur deleniti totam itaque eum soluta aut, maiores cupiditate animi molestias accusamus quis eius similique quod quas, velit iusto est!</p>
    </div>
    
</body>
</html>