<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Padding & Border</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="satu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio minus odit, accusantium provident sapiente rem ducimus autem distinctio consectetur, corporis similique ullam perspiciatis molestias itaque. Molestias ad officia accusantium omnis.</div>

    <div class="dua">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime ipsum minima officia hic molestiae est nihil optio quod quos, placeat, accusantium id et blanditiis rem molestias aliquid tempore mollitia recusandae.</div>
    
</body>
</html>