.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri {
    width: 150px;
    height: 500px;
    background-color: salmon;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.tengah {
    width: 500px;
    height: 500px;
    background-color: lightskyblue;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

.kanan {
    width: 150px;
    height: 500px;
    background-color: limegreen;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}