<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Box Model</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <div class="header">
            <h1 class="judul">My Website</h1>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">products</a></li>
                <li><a href="#">service</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="content cf">
            <div class="main">
                <h2>Judul Artikel</h2>
                <p class="penulis">ditulis oleh <a href="#">robby</a>, pada 1 Januari 2077.</p>

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente sit repellendus ullam, totam est atque voluptatem temporibus blanditiis numquam consequatur facere, ut, aperiam doloribus veniam! Corporis placeat deleniti quibusdam temporibus?</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic itaque, optio voluptate culpa eligendi enim iure explicabo laboriosam dolor labore delectus, qui a, velit numquam. Quasi velit, voluptatem, enim animi mollitia facilis, obcaecati eaque eos officiis id laudantium nisi voluptatum placeat. Nostrum laudantium, vitae amet beatae tempora quisquam ex nobis illum soluta sunt blanditiis recusandae, voluptatem, neque itaque cumque? Necessitatibus, aliquid voluptatum? Accusamus in et corrupti, voluptas totam reiciendis qui eligendi iusto velit quibusdam voluptates quisquam obcaecati? Totam nostrum cupiditate quo ipsum assumenda officiis fugit molestiae quas. Dolores illo doloribus cumque veniam error? Velit iure totam unde illo animi.</p>

                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae inventore laudantium soluta saepe adipisci, asperiores quo enim tempore sed eveniet! Nostrum quisquam distinctio officiis possimus, quasi dolorem. Deleniti quo aliquid assumenda voluptas reiciendis velit quos maiores error vitae ipsam, architecto possimus odio pariatur ipsum repudiandae nulla eos iure fugit maxime ratione omnis. Tempore nihil atque ea fugit sunt sapiente ducimus veritatis! Obcaecati, iusto debitis ipsa molestiae cupiditate officia nulla? Hic libero rerum quaerat velit laborum officiis magnam suscipit commodi. Suscipit!</p>
            </div>
            <div class="sidebar">
                <h3>Tentang Penulis</h3>
                <img src="img/images.jpeg" alt="robby">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, aliquam. Fugit, aliquam! Labore necessitatibus itaque doloremque sapiente qui maiores inventore velit incidunt, dolorum culpa facere voluptas enim sit saepe quos repellendus illum laboriosam blanditiis eum, vel porro accusantium fugiat tempora? Magnam ratione explicabo unde ex adipisci. Et ab ipsa voluptatibus?</p>
            </div>

        </div>
        <div class="footer">
            <p class="copy">Copyright 2025. robby</p>
        </div>
    </div>
    
</body>
</html>